<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/movies"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ movie?.title || 'Loading Movie...' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="movie">
  <div class="backdrop-wrapper">
    <img [src]="movie.banner" [alt]="movie.title" />
    <div class="gradient-overlay"></div>
  </div>

  <div class="movie-header-details">
    <h1 class="movie-title">{{ movie.title }}</h1>
    <div class="genre-badge">{{ movie.genre }}</div>
  </div>

  <hr class="divider" />

 <div class="synopsis-section">
    <h3>Synopsis</h3>
    <p class="synopsis-text">{{ movie.synopsis }}</p>
  </div>

  <div class="gallery-section" *ngIf="movie.gallery && movie.gallery.length > 0">
    <h3>Media Gallery</h3>
    <div class="gallery-scroll-container">
      <div class="gallery-item" *ngFor="let photo of movie.gallery">
        <img [src]="photo" alt="Movie Scene" />
      </div>
    </div>
  </div>
</ion-content>
